<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Desafio1 Portafolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: "all" %>
    <%= javascript_importmap_tags %>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b3e35b3c01.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">
            <img src="<%= asset_path('transparentefumanchito.png') %>" alt="Logo" style="height: 40px; margin-right: 10px;">
            Sion Maldonado
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5">
                <li class="nav-item">
                    <%= link_to 'Inicio', root_path, class:'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Proyectos', projects_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Contacto', contact_path, class: 'nav-link' %>
                </li>
            </ul>
        </div>
    </div>
</nav>

    
    <div class="container mt-5">
      <%= yield %>
    </div>

    <%= time_ago_in_words(Time.now + 60) %>
    <footer class="footer-custom">
    <div class="container">
      <a href="https://github.com/mrSpeedle" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.youtube.com/@TheMrSpeedle" target="_blank"><i class="fab fa-youtube"></i></a>
      <p>© 2024 Sion Maldonado. Todos los derechos reservados.</p>
    </div>
    </footer>
  </body>
</html>
